.admin-container-admin {
    height: 100vh;
    width: 100vw;
    background-color: #131324;
  }
  
  .admin-inner-container-admin {
    height: 85vh;
    width: 85vw;
    background-color: #00000076;
    display: grid;
    grid-template-columns: 25% 75%;
  }
  
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .admin-inner-container {
      grid-template-columns: 35% 65%;
    }
  }
  