
.styled-logout-button {
    background-color: #3498db; 
    color: white;
    padding: 1rem 2.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .styled-logout-button:hover {
    background-color: #ff0000; 
  }
  